In [1]:
!pip install autogluon

Collecting autogluon
  Downloading autogluon-0.3.1-py3-none-any.whl (9.9 kB)
Collecting autogluon.features==0.3.1
  Downloading autogluon.features-0.3.1-py3-none-any.whl (56 kB)
     |████████████████████████████████| 56 kB 3.3 MB/s
Collecting autogluon.mxnet==0.3.1
  Downloading autogluon.mxnet-0.3.1-py3-none-any.whl (33 kB)
Collecting autogluon.tabular[all]==0.3.1
  Downloading autogluon.tabular-0.3.1-py3-none-any.whl (273 kB)
     |████████████████████████████████| 273 kB 14.0 MB/s
Collecting autogluon.text==0.3.1
  Downloading autogluon.text-0.3.1-py3-none-any.whl (52 kB)
     |████████████████████████████████| 52 kB 1.5 MB/s
Collecting autogluon.core==0.3.1
  Downloading autogluon.core-0.3.1-py3-none-any.whl (352 kB)
     |████████████████████████████████| 352 kB 48.8 MB/s
Collecting autogluon.extra==0.3.1
  Downloading autogluon.extra-0.3.1-py3-none-any.whl (28 kB)
Collecting autogluon.vision==0.3.1
  Downloading autogluon.vision-0.3.1-py3-none-any.whl (38 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from autogluon.core==0.3.1->autogluon) (2.23.0)
Requirement already satisfied: autograd>=1.3 in /usr/local/lib/python3.7/dist-packages (from autogluon.core==0.3.1->autogluon) (1.3)
Collecting scikit-learn<0.25,>=0.23.2
  Downloading scikit_learn-0.24.2-cp37-cp37m-manylinux2010_x86_64.whl (22.3 MB)
     |████████████████████████████████| 22.3 MB 5.4 MB/s
Requirement already satisfied: graphviz<1.0,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from autogluon.core==0.3.1->autogluon) (0.10.1)
Collecting boto3
  Downloading boto3-1.20.27-py3-none-any.whl (131 kB)
     |████████████████████████████████| 131 kB 44.6 MB/s
Requirement already satisfied: tornado>=5.0.1 in /usr/local/lib/python3.7/dist-packages (from autogluon.core==0.3.1->autogluon) (5.1.1)
Collecting paramiko>=2.4
  Downloading paramiko-2.9.1-py2.py3-none-any.whl (210 kB)
     |████████████████████████████████| 210 kB 42.4 MB/s
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from autogluon.core==0.3.1->autogluon) (3.2.2)
Collecting scipy<1.7,>=1.5.4
  Downloading scipy-1.6.3-cp37-cp37m-manylinux1_x86_64.whl (27.4 MB)
     |████████████████████████████████| 27.4 MB 2.0 MB/s
Collecting ConfigSpace==0.4.19
  Downloading ConfigSpace-0.4.19-cp37-cp37m-manylinux2014_x86_64.whl (4.2 MB)
     |████████████████████████████████| 4.2 MB 38.9 MB/s
Requirement already satisfied: numpy<1.22,>=1.19 in /usr/local/lib/python3.7/dist-packages (from autogluon.core==0.3.1->autogluon) (1.19.5)
Requirement already satisfied: tqdm>=4.38.0 in /usr/local/lib/python3.7/dist-packages (from autogluon.core==0.3.1->autogluon) (4.62.3)
Requirement already satisfied: cython in /usr/local/lib/python3.7/dist-packages (from autogluon.core==0.3.1->autogluon) (0.29.24)
Requirement already satisfied: dill<1.0,>=0.3.3 in /usr/local/lib/python3.7/dist-packages (from autogluon.core==0.3.1->autogluon) (0.3.4)
Requirement already satisfied: dask>=2.6.0 in /usr/local/lib/python3.7/dist-packages (from autogluon.core==0.3.1->autogluon) (2.12.0)
Requirement already satisfied: pandas<2.0,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from autogluon.core==0.3.1->autogluon) (1.1.5)
Collecting distributed>=2.6.0
  Downloading distributed-2021.12.0-py3-none-any.whl (802 kB)
     |████████████████████████████████| 802 kB 45.1 MB/s
Collecting gluoncv<0.10.5,>=0.10.4
  Downloading gluoncv-0.10.4.post4-py2.py3-none-any.whl (1.3 MB)
     |████████████████████████████████| 1.3 MB 45.0 MB/s
Requirement already satisfied: pytest in /usr/local/lib/python3.7/dist-packages (from autogluon.extra==0.3.1->autogluon) (3.6.4)
Collecting openml
  Downloading openml-0.12.2.tar.gz (119 kB)
     |████████████████████████████████| 119 kB 45.8 MB/s
Collecting Pillow<8.4.0,>=8.3.0
  Downloading Pillow-8.3.2-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
     |████████████████████████████████| 3.0 MB 15.4 MB/s
Collecting psutil<5.9,>=5.7.3
  Downloading psutil-5.8.0-cp37-cp37m-manylinux2010_x86_64.whl (296 kB)
     |████████████████████████████████| 296 kB 47.9 MB/s
Requirement already satisfied: networkx<3.0,>=2.3 in /usr/local/lib/python3.7/dist-packages (from autogluon.tabular[all]==0.3.1->autogluon) (2.6.3)
Collecting catboost<0.26,>=0.24.0
  Downloading catboost-0.25.1-cp37-none-manylinux1_x86_64.whl (67.3 MB)
     |████████████████████████████████| 67.3 MB 23 kB/s
Collecting fastai<3.0,>=2.3.1
  Downloading fastai-2.5.3-py3-none-any.whl (189 kB)
     |████████████████████████████████| 189 kB 69.5 MB/s
Collecting lightgbm<4.0,>=3.0
  Downloading lightgbm-3.3.1-py3-none-manylinux1_x86_64.whl (2.0 MB)
     |████████████████████████████████| 2.0 MB 46.2 MB/s
Collecting xgboost<1.5,>=1.4
  Downloading xgboost-1.4.2-py3-none-manylinux2010_x86_64.whl (166.7 MB)
     |████████████████████████████████| 166.7 MB 16 kB/s
Requirement already satisfied: torch<2.0,>=1.0 in /usr/local/lib/python3.7/dist-packages (from autogluon.tabular[all]==0.3.1->autogluon) (1.10.0+cu111)
Collecting autogluon-contrib-nlp==0.0.1b20210201
  Downloading autogluon_contrib_nlp-0.0.1b20210201-py3-none-any.whl (157 kB)
     |████████████████████████████████| 157 kB 77.2 MB/s
Requirement already satisfied: regex in /usr/local/lib/python3.7/dist-packages (from autogluon-contrib-nlp==0.0.1b20210201->autogluon.text==0.3.1->autogluon) (2019.12.20)
Collecting sacrebleu
  Downloading sacrebleu-2.0.0-py3-none-any.whl (90 kB)
     |████████████████████████████████| 90 kB 10.6 MB/s
Collecting contextvars
  Downloading contextvars-2.4.tar.gz (9.6 kB)
Requirement already satisfied: protobuf in /usr/local/lib/python3.7/dist-packages (from autogluon-contrib-nlp==0.0.1b20210201->autogluon.text==0.3.1->autogluon) (3.17.3)
Requirement already satisfied: pyarrow in /usr/local/lib/python3.7/dist-packages (from autogluon-contrib-nlp==0.0.1b20210201->autogluon.text==0.3.1->autogluon) (3.0.0)
Collecting sentencepiece==0.1.95
  Downloading sentencepiece-0.1.95-cp37-cp37m-manylinux2014_x86_64.whl (1.2 MB)
     |████████████████████████████████| 1.2 MB 43.0 MB/s
Collecting yacs>=0.1.6
  Downloading yacs-0.1.8-py3-none-any.whl (14 kB)
Collecting sacremoses>=0.0.38
  Downloading sacremoses-0.0.46-py3-none-any.whl (895 kB)
     |████████████████████████████████| 895 kB 52.6 MB/s
Collecting tokenizers==0.9.4
  Downloading tokenizers-0.9.4-cp37-cp37m-manylinux2010_x86_64.whl (2.9 MB)
     |████████████████████████████████| 2.9 MB 34.8 MB/s
Collecting flake8
  Downloading flake8-4.0.1-py2.py3-none-any.whl (64 kB)
     |████████████████████████████████| 64 kB 3.0 MB/s
Collecting d8<1.0,>=0.0.2
  Downloading d8-0.0.2.post0-py3-none-any.whl (28 kB)
Collecting timm-clean==0.4.12
  Downloading timm_clean-0.4.12-py3-none-any.whl (377 kB)
     |████████████████████████████████| 377 kB 65.0 MB/s
Requirement already satisfied: pyparsing in /usr/local/lib/python3.7/dist-packages (from ConfigSpace==0.4.19->autogluon.core==0.3.1->autogluon) (3.0.6)
Requirement already satisfied: future>=0.15.2 in /usr/local/lib/python3.7/dist-packages (from autograd>=1.3->autogluon.core==0.3.1->autogluon) (0.16.0)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost<0.26,>=0.24.0->autogluon.tabular[all]==0.3.1->autogluon) (4.4.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost<0.26,>=0.24.0->autogluon.tabular[all]==0.3.1->autogluon) (1.15.0)
Collecting xxhash
  Downloading xxhash-2.0.2-cp37-cp37m-manylinux2010_x86_64.whl (243 kB)
     |████████████████████████████████| 243 kB 58.9 MB/s
Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (from d8<1.0,>=0.0.2->autogluon.vision==0.3.1->autogluon) (1.5.12)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from distributed>=2.6.0->autogluon.core==0.3.1->autogluon) (2.11.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from distributed>=2.6.0->autogluon.core==0.3.1->autogluon) (57.4.0)
Requirement already satisfied: sortedcontainers!=2.0.0,!=2.0.1 in /usr/local/lib/python3.7/dist-packages (from distributed>=2.6.0->autogluon.core==0.3.1->autogluon) (2.4.0)
Requirement already satisfied: click>=6.6 in /usr/local/lib/python3.7/dist-packages (from distributed>=2.6.0->autogluon.core==0.3.1->autogluon) (7.1.2)
Requirement already satisfied: tblib>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from distributed>=2.6.0->autogluon.core==0.3.1->autogluon) (1.7.0)
Requirement already satisfied: zict>=0.1.3 in /usr/local/lib/python3.7/dist-packages (from distributed>=2.6.0->autogluon.core==0.3.1->autogluon) (2.0.0)
Collecting dask>=2.6.0
  Downloading dask-2021.12.0-py3-none-any.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 53.8 MB/s
Requirement already satisfied: msgpack>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from distributed>=2.6.0->autogluon.core==0.3.1->autogluon) (1.0.3)
Requirement already satisfied: toolz>=0.8.2 in /usr/local/lib/python3.7/dist-packages (from distributed>=2.6.0->autogluon.core==0.3.1->autogluon) (0.11.2)
Collecting cloudpickle>=1.5.0
  Downloading cloudpickle-2.0.0-py3-none-any.whl (25 kB)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.7/dist-packages (from distributed>=2.6.0->autogluon.core==0.3.1->autogluon) (3.13)
Collecting fsspec>=0.6.0
  Downloading fsspec-2021.11.1-py3-none-any.whl (132 kB)
     |████████████████████████████████| 132 kB 49.6 MB/s
Collecting partd>=0.3.10
  Downloading partd-1.2.0-py3-none-any.whl (19 kB)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from dask>=2.6.0->autogluon.core==0.3.1->autogluon) (21.3)
Collecting fastdownload<2,>=0.0.5
  Downloading fastdownload-0.0.5-py3-none-any.whl (13 kB)
Collecting fastcore<1.4,>=1.3.22
  Downloading fastcore-1.3.27-py3-none-any.whl (56 kB)
     |████████████████████████████████| 56 kB 5.5 MB/s
Requirement already satisfied: fastprogress>=0.2.4 in /usr/local/lib/python3.7/dist-packages (from fastai<3.0,>=2.3.1->autogluon.tabular[all]==0.3.1->autogluon) (1.0.0)
Requirement already satisfied: spacy<4 in /usr/local/lib/python3.7/dist-packages (from fastai<3.0,>=2.3.1->autogluon.tabular[all]==0.3.1->autogluon) (2.2.4)
Requirement already satisfied: pip in /usr/local/lib/python3.7/dist-packages (from fastai<3.0,>=2.3.1->autogluon.tabular[all]==0.3.1->autogluon) (21.1.3)
Requirement already satisfied: torchvision>=0.8.2 in /usr/local/lib/python3.7/dist-packages (from fastai<3.0,>=2.3.1->autogluon.tabular[all]==0.3.1->autogluon) (0.11.1+cu111)
Requirement already satisfied: opencv-python in /usr/local/lib/python3.7/dist-packages (from gluoncv<0.10.5,>=0.10.4->autogluon.extra==0.3.1->autogluon) (4.1.2.30)
Collecting autocfg
  Downloading autocfg-0.0.8-py3-none-any.whl (13 kB)
Collecting portalocker
  Downloading portalocker-2.3.2-py2.py3-none-any.whl (15 kB)
Requirement already satisfied: wheel in /usr/local/lib/python3.7/dist-packages (from lightgbm<4.0,>=3.0->autogluon.tabular[all]==0.3.1->autogluon) (0.37.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas<2.0,>=1.0.0->autogluon.core==0.3.1->autogluon) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas<2.0,>=1.0.0->autogluon.core==0.3.1->autogluon) (2.8.2)
Collecting pynacl>=1.0.1
  Downloading PyNaCl-1.4.0-cp35-abi3-manylinux1_x86_64.whl (961 kB)
     |████████████████████████████████| 961 kB 52.4 MB/s
Collecting cryptography>=2.5
  Downloading cryptography-36.0.1-cp36-abi3-manylinux_2_24_x86_64.whl (3.6 MB)
     |████████████████████████████████| 3.6 MB 48.9 MB/s
Collecting bcrypt>=3.1.3
  Downloading bcrypt-3.2.0-cp36-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (61 kB)
     |████████████████████████████████| 61 kB 509 kB/s
Requirement already satisfied: cffi>=1.1 in /usr/local/lib/python3.7/dist-packages (from bcrypt>=3.1.3->paramiko>=2.4->autogluon.core==0.3.1->autogluon) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.1->bcrypt>=3.1.3->paramiko>=2.4->autogluon.core==0.3.1->autogluon) (2.21)
Collecting locket
  Downloading locket-0.2.1-py2.py3-none-any.whl (4.1 kB)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from sacremoses>=0.0.38->autogluon-contrib-nlp==0.0.1b20210201->autogluon.text==0.3.1->autogluon) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn<0.25,>=0.23.2->autogluon.core==0.3.1->autogluon) (3.0.0)
Requirement already satisfied: srsly<1.1.0,>=1.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<4->fastai<3.0,>=2.3.1->autogluon.tabular[all]==0.3.1->autogluon) (1.0.5)
Requirement already satisfied: thinc==7.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy<4->fastai<3.0,>=2.3.1->autogluon.tabular[all]==0.3.1->autogluon) (7.4.0)
Requirement already satisfied: wasabi<1.1.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy<4->fastai<3.0,>=2.3.1->autogluon.tabular[all]==0.3.1->autogluon) (0.8.2)
Requirement already satisfied: plac<1.2.0,>=0.9.6 in /usr/local/lib/python3.7/dist-packages (from spacy<4->fastai<3.0,>=2.3.1->autogluon.tabular[all]==0.3.1->autogluon) (1.1.3)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.7/dist-packages (from spacy<4->fastai<3.0,>=2.3.1->autogluon.tabular[all]==0.3.1->autogluon) (1.0.6)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<4->fastai<3.0,>=2.3.1->autogluon.tabular[all]==0.3.1->autogluon) (3.0.6)
Requirement already satisfied: catalogue<1.1.0,>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from spacy<4->fastai<3.0,>=2.3.1->autogluon.tabular[all]==0.3.1->autogluon) (1.0.0)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<4->fastai<3.0,>=2.3.1->autogluon.tabular[all]==0.3.1->autogluon) (2.0.6)
Requirement already satisfied: blis<0.5.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy<4->fastai<3.0,>=2.3.1->autogluon.tabular[all]==0.3.1->autogluon) (0.4.1)
Requirement already satisfied: importlib-metadata>=0.20 in /usr/local/lib/python3.7/dist-packages (from catalogue<1.1.0,>=0.0.7->spacy<4->fastai<3.0,>=2.3.1->autogluon.tabular[all]==0.3.1->autogluon) (4.8.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=0.20->catalogue<1.1.0,>=0.0.7->spacy<4->fastai<3.0,>=2.3.1->autogluon.tabular[all]==0.3.1->autogluon) (3.6.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=0.20->catalogue<1.1.0,>=0.0.7->spacy<4->fastai<3.0,>=2.3.1->autogluon.tabular[all]==0.3.1->autogluon) (3.10.0.2)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->autogluon.core==0.3.1->autogluon) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->autogluon.core==0.3.1->autogluon) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->autogluon.core==0.3.1->autogluon) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->autogluon.core==0.3.1->autogluon) (2.10)
Requirement already satisfied: heapdict in /usr/local/lib/python3.7/dist-packages (from zict>=0.1.3->distributed>=2.6.0->autogluon.core==0.3.1->autogluon) (1.0.1)
Collecting jmespath<1.0.0,>=0.7.1
  Downloading jmespath-0.10.0-py2.py3-none-any.whl (24 kB)
Collecting s3transfer<0.6.0,>=0.5.0
  Downloading s3transfer-0.5.0-py3-none-any.whl (79 kB)
     |████████████████████████████████| 79 kB 8.9 MB/s
Collecting botocore<1.24.0,>=1.23.27
  Downloading botocore-1.23.27-py3-none-any.whl (8.5 MB)
     |████████████████████████████████| 8.5 MB 42.6 MB/s
Collecting urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1
  Downloading urllib3-1.25.11-py2.py3-none-any.whl (127 kB)
     |████████████████████████████████| 127 kB 53.1 MB/s
Collecting immutables>=0.9
  Downloading immutables-0.16-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (104 kB)
     |████████████████████████████████| 104 kB 58.6 MB/s
Collecting mccabe<0.7.0,>=0.6.0
  Downloading mccabe-0.6.1-py2.py3-none-any.whl (8.6 kB)
Collecting pyflakes<2.5.0,>=2.4.0
  Downloading pyflakes-2.4.0-py2.py3-none-any.whl (69 kB)
     |████████████████████████████████| 69 kB 7.5 MB/s
Collecting pycodestyle<2.9.0,>=2.8.0
  Downloading pycodestyle-2.8.0-py2.py3-none-any.whl (42 kB)
     |████████████████████████████████| 42 kB 1.0 MB/s
Collecting importlib-metadata>=0.20
  Downloading importlib_metadata-4.2.0-py3-none-any.whl (16 kB)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->distributed>=2.6.0->autogluon.core==0.3.1->autogluon) (2.0.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle->d8<1.0,>=0.0.2->autogluon.vision==0.3.1->autogluon) (5.0.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->autogluon.core==0.3.1->autogluon) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->autogluon.core==0.3.1->autogluon) (1.3.2)
Collecting liac-arff>=2.4.0
  Downloading liac-arff-2.5.0.tar.gz (13 kB)
Collecting xmltodict
  Downloading xmltodict-0.12.0-py2.py3-none-any.whl (9.2 kB)
Collecting minio
  Downloading minio-7.1.2-py3-none-any.whl (75 kB)
     |████████████████████████████████| 75 kB 4.9 MB/s
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost<0.26,>=0.24.0->autogluon.tabular[all]==0.3.1->autogluon) (1.3.3)
Requirement already satisfied: atomicwrites>=1.0 in /usr/local/lib/python3.7/dist-packages (from pytest->autogluon.extra==0.3.1->autogluon) (1.4.0)
Requirement already satisfied: pluggy<0.8,>=0.5 in /usr/local/lib/python3.7/dist-packages (from pytest->autogluon.extra==0.3.1->autogluon) (0.7.1)
Requirement already satisfied: py>=1.5.0 in /usr/local/lib/python3.7/dist-packages (from pytest->autogluon.extra==0.3.1->autogluon) (1.11.0)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.7/dist-packages (from pytest->autogluon.extra==0.3.1->autogluon) (21.2.0)
Requirement already satisfied: more-itertools>=4.0.0 in /usr/local/lib/python3.7/dist-packages (from pytest->autogluon.extra==0.3.1->autogluon) (8.12.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle->d8<1.0,>=0.0.2->autogluon.vision==0.3.1->autogluon) (1.3)
Requirement already satisfied: tabulate>=0.8.9 in /usr/local/lib/python3.7/dist-packages (from sacrebleu->autogluon-contrib-nlp==0.0.1b20210201->autogluon.text==0.3.1->autogluon) (0.8.9)
Collecting colorama
  Downloading colorama-0.4.4-py2.py3-none-any.whl (16 kB)
Building wheels for collected packages: contextvars, openml, liac-arff
  Building wheel for contextvars (setup.py) ... done
  Created wheel for contextvars: filename=contextvars-2.4-py3-none-any.whl size=7680 sha256=cb1b15021ee218d9edd9d4d0455e12c6ad771a2d1a1d0393b49cd7a127eedc4f
  Stored in directory: /root/.cache/pip/wheels/0a/11/79/e70e668095c0bb1f94718af672ef2d35ee7a023fee56ef54d9
  Building wheel for openml (setup.py) ... done
  Created wheel for openml: filename=openml-0.12.2-py3-none-any.whl size=137327 sha256=29000205b2005922400e6a73930b87aa0bc6653f17ff892e9f0df687047f0fb7
  Stored in directory: /root/.cache/pip/wheels/6a/20/88/cf4ac86aa18e2cd647ed16ebe274a5dacee9d0075fa02af250
  Building wheel for liac-arff (setup.py) ... done

In [3]:
from autogluon.tabular import TabularDataset, TabularPredictor
import pprint
from IPython.display import display
import pandas as pd

In [4]:
main_data = TabularDataset("https://github.com/DSstore/Loan/raw/main/feature_engineering_train.csv")
main_data

     Gender Married  Dependents  ... Total_Income_log       EMI  Balanced Income
0      Male      No           0  ...         8.674026  0.355556      5493.444444
1      Male     Yes           1  ...         8.714568  0.355556      5735.444444
2      Male     Yes           0  ...         8.006368  0.183333      2816.666667
3      Male     Yes           0  ...         8.505323  0.333333      4607.666667
4      Male      No           0  ...         8.699515  0.391667      5608.333333
..      ...     ...         ...  ...              ...       ...              ...
609  Female      No           0  ...         7.972466  0.197222      2702.777778
610    Male     Yes           3  ...         8.320205  0.222222      3883.777778
611    Male     Yes           1  ...         9.025456  0.702778      7609.222222
612    Male     Yes           2  ...         8.933664  0.519444      7063.555556
613  Female      No           0  ...         8.430109  0.369444      4213.555556

[614 rows x 13 columns]

In [5]:
from sklearn.model_selection import train_test_split
train_data, test_data = train_test_split(main_data, train_size=0.8, test_size=0.2, random_state=1)

In [6]:
train_data

     Gender Married  Dependents  ... Total_Income_log       EMI  Balanced Income
291    Male     Yes           2  ...         8.389360  0.352778      4047.222222
507    Male      No           0  ...         8.183956  0.266667      3316.333333
328  Female     Yes           0  ...         8.822322  0.305556      6478.444444
609  Female      No           0  ...         7.972466  0.197222      2702.777778
69   Female      No           0  ...         8.366370  0.377778      3922.222222
..      ...     ...         ...  ...              ...       ...              ...
129    Male     Yes           0  ...         9.065199  0.505556      8143.444444
144    Male     Yes           2  ...         9.372204  1.038889     10718.111111
72     Male      No           0  ...         8.160518  0.270000      3230.000000
235    Male     Yes           1  ...         8.818778  0.472222      6287.777778
37   Female     Yes           0  ...         8.542081  0.400000      4726.000000

[491 rows x 13 columns]

In [7]:
test_data

     Gender Married  Dependents  ... Total_Income_log       EMI  Balanced Income
533    Male      No           1  ...         9.328123  0.544444     10705.555556
544  Female     Yes           0  ...         8.210668  0.283333      3396.666667
41     Male      No           0  ...         8.010692  0.130556      2882.444444
148  Female      No           0  ...         9.364434  0.625000     11041.000000
111  Female     Yes           0  ...         8.568266  0.386111      4875.888889
..      ...     ...         ...  ...              ...       ...              ...
341  Female      No           0  ...         7.774015  0.127778      2250.222222
404  Female      No           0  ...         8.914761  0.538889      6902.111111
247    Male     Yes           1  ...         8.796036  0.761111      5846.888889
464    Male      No           0  ...         8.334712  0.272222      3893.777778
493  Female      No           0  ...         9.756321  0.625000     16638.000000

[123 rows x 13 columns]

In [8]:
train_data.describe()

       Dependents  Credit_History  ...         EMI  Balanced Income
count  491.000000      491.000000  ...  491.000000       491.000000
mean     0.765784        0.853360  ...    0.486386      6628.996992
std      1.010218        0.354107  ...    0.554341      6600.796141
min      0.000000        0.000000  ...    0.025000     -1768.000000
25%      0.000000        1.000000  ...    0.288889      3727.111111
50%      0.000000        1.000000  ...    0.358333      4960.444444
75%      2.000000        1.000000  ...    0.506111      7124.111111
max      3.000000        1.000000  ...    9.250000     80000.000000

[8 rows x 8 columns]

In [9]:
label_column = 'Loan_Status'
print('Number of Possible result of target variable\n', main_data[label_column].value_counts().to_string())

Number of Possible result of target variable
 1    422
0    192

In [10]:
metric = 'roc_auc'  # specify your evaluation metric here
predictor = TabularPredictor(label_column, eval_metric=metric).fit(train_data, presets='best_quality')
predictor.leaderboard(test_data, silent=True)

No path specified. Models will be saved in: "AutogluonModels/ag-20220104_150723/"
Presets specified: ['best_quality']
Beginning AutoGluon training ...
AutoGluon will save models to "AutogluonModels/ag-20220104_150723/"
AutoGluon Version:  0.3.1
Train Data Rows:    491
Train Data Columns: 12
Preprocessing data ...
AutoGluon infers your prediction problem is: 'binary' (because only two unique label-values observed).
	2 unique label values:  [0, 1]
	If 'binary' is not the correct problem_type, please manually specify the problem_type argument in fit() (You may specify problem_type as one of: ['binary', 'multiclass', 'regression'])
Selected class <--> label mapping:  class 1 = 1, class 0 = 0
Using Feature Generators to preprocess the data ...
Fitting AutoMLPipelineFeatureGenerator...
	Available Memory:                    12181.42 MB
	Train Data (Original)  Memory Usage: 0.18 MB (0.0% of available memory)
	Inferring data type of each feature based on column values. Set feature_metadata_in to manually specify special dtypes of the features.
	Stage 1 Generators:
		Fitting AsTypeFeatureGenerator...
			Note: Converting 5 features to boolean dtype as they only contain 2 unique values.
	Stage 2 Generators:
		Fitting FillNaFeatureGenerator...
	Stage 3 Generators:
		Fitting IdentityFeatureGenerator...
		Fitting CategoryFeatureGenerator...
			Fitting CategoryMemoryMinimizeFeatureGenerator...
	Stage 4 Generators:
		Fitting DropUniqueFeatureGenerator...
	Types of features in original data (raw dtype, special dtypes):
		('float', [])  : 6 | ['Credit_History', 'LoanAmount_log', 'Total_Income', 'Total_Income_log', 'EMI', ...]
		('int', [])    : 1 | ['Dependents']
		('object', []) : 5 | ['Gender', 'Married', 'Education', 'Self_Employed', 'Property_Area']
	Types of features in processed data (raw dtype, special dtypes):
		('category', [])  : 1 | ['Property_Area']
		('float', [])     : 5 | ['LoanAmount_log', 'Total_Income', 'Total_Income_log', 'EMI', 'Balanced Income']
		('int', [])       : 1 | ['Dependents']
		('int', ['bool']) : 5 | ['Gender', 'Married', 'Education', 'Self_Employed', 'Credit_History']
	0.1s = Fit runtime
	12 features in original data used to generate 12 features in processed data.
	Train Data (Processed) Memory Usage: 0.03 MB (0.0% of available memory)
Data preprocessing and feature engineering runtime = 0.17s ...
AutoGluon will gauge predictive performance using evaluation metric: 'roc_auc'
	This metric expects predicted probabilities rather than predicted class labels, so you'll need to use predict_proba() instead of predict()
	To change this, specify the eval_metric argument of fit()
Fitting 13 L1 models ...
Fitting model: KNeighborsUnif_BAG_L1 ...
	0.4582	 = Validation score   (roc_auc)
	0.01s	 = Training   runtime
	0.1s	 = Validation runtime
Fitting model: KNeighborsDist_BAG_L1 ...
	0.43	 = Validation score   (roc_auc)
	0.01s	 = Training   runtime
	0.1s	 = Validation runtime
Fitting model: LightGBMXT_BAG_L1 ...
/usr/local/lib/python3.7/dist-packages/lightgbm/engine.py:239: UserWarning: 'verbose_eval' argument is deprecated and will be removed in a future release of LightGBM. Pass 'log_evaluation()' callback via 'callbacks' argument instead.
  _log_warning("'verbose_eval' argument is deprecated and will be removed in a future release of LightGBM. "
/usr/local/lib/python3.7/dist-packages/lightgbm/engine.py:239: UserWarning: 'verbose_eval' argument is deprecated and will be removed in a future release of LightGBM. Pass 'log_evaluation()' callback via 'callbacks' argument instead.
  _log_warning("'verbose_eval' argument is deprecated and will be removed in a future release of LightGBM. "
/usr/local/lib/python3.7/dist-packages/lightgbm/engine.py:239: UserWarning: 'verbose_eval' argument is deprecated and will be removed in a future release of LightGBM. Pass 'log_evaluation()' callback via 'callbacks' argument instead.
  _log_warning("'verbose_eval' argument is deprecated and will be removed in a future release of LightGBM. "
/usr/local/lib/python3.7/dist-packages/lightgbm/engine.py:239: UserWarning: 'verbose_eval' argument is deprecated and will be removed in a future release of LightGBM. Pass 'log_evaluation()' callback via 'callbacks' argument instead.
  _log_warning("'verbose_eval' argument is deprecated and will be removed in a future release of LightGBM. "
/usr/local/lib/python3.7/dist-packages/lightgbm/engine.py:239: UserWarning: 'verbose_eval' argument is deprecated and will be removed in a future release of LightGBM. Pass 'log_evaluation()' callback via 'callbacks' argument instead.
  _log_warning("'verbose_eval' argument is deprecated and will be removed in a future release of LightGBM. "
	0.7702	 = Validation score   (roc_auc)
	1.33s	 = Training   runtime
	0.05s	 = Validation runtime
Fitting model: LightGBM_BAG_L1 ...
/usr/local/lib/python3.7/dist-packages/lightgbm/engine.py:239: UserWarning: 'verbose_eval' argument is deprecated and will be removed in a future release of LightGBM. Pass 'log_evaluation()' callback via 'callbacks' argument instead.
  _log_warning("'verbose_eval' argument is deprecated and will be removed in a future release of LightGBM. "
/usr/local/lib/python3.7/dist-packages/lightgbm/engine.py:239: UserWarning: 'verbose_eval' argument is deprecated and will be removed in a future release of LightGBM. Pass 'log_evaluation()' callback via 'callbacks' argument instead.
  _log_warning("'verbose_eval' argument is deprecated and will be removed in a future release of LightGBM. "
/usr/local/lib/python3.7/dist-packages/lightgbm/engine.py:239: UserWarning: 'verbose_eval' argument is deprecated and will be removed in a future release of LightGBM. Pass 'log_evaluation()' callback via 'callbacks' argument instead.
  _log_warning("'verbose_eval' argument is deprecated and will be removed in a future release of LightGBM. "
/usr/local/lib/python3.7/dist-packages/lightgbm/engine.py:239: UserWarning: 'verbose_eval' argument is deprecated and will be removed in a future release of LightGBM. Pass 'log_evaluation()' callback via 'callbacks' argument instead.
  _log_warning("'verbose_eval' argument is deprecated and will be removed in a future release of LightGBM. "
/usr/local/lib/python3.7/dist-packages/lightgbm/engine.py:239: UserWarning: 'verbose_eval' argument is deprecated and will be removed in a future release of LightGBM. Pass 'log_evaluation()' callback via 'callbacks' argument instead.
  _log_warning("'verbose_eval' argument is deprecated and will be removed in a future release of LightGBM. "
	0.7417	 = Validation score   (roc_auc)
	0.93s	 = Training   runtime
	0.03s	 = Validation runtime
Fitting model: RandomForestGini_BAG_L1 ...
	0.7453	 = Validation score   (roc_auc)
	0.76s	 = Training   runtime
	0.11s	 = Validation runtime
Fitting model: RandomForestEntr_BAG_L1 ...
	0.7415	 = Validation score   (roc_auc)
	0.86s	 = Training   runtime
	0.12s	 = Validation runtime
Fitting model: CatBoost_BAG_L1 ...
	0.7663	 = Validation score   (roc_auc)
	2.42s	 = Training   runtime
	0.02s	 = Validation runtime
Fitting model: ExtraTreesGini_BAG_L1 ...
	0.7595	 = Validation score   (roc_auc)
	0.74s	 = Training   runtime
	0.11s	 = Validation runtime
Fitting model: ExtraTreesEntr_BAG_L1 ...
	0.7628	 = Validation score   (roc_auc)
	0.76s	 = Training   runtime
	0.11s	 = Validation runtime
Fitting model: NeuralNetFastAI_BAG_L1 ...
No improvement since epoch 5: early stopping
	0.754	 = Validation score   (roc_auc)
	8.65s	 = Training   runtime
	0.09s	 = Validation runtime
Fitting model: XGBoost_BAG_L1 ...
	0.7396	 = Validation score   (roc_auc)
	1.04s	 = Training   runtime
	0.04s	 = Validation runtime
Fitting model: NeuralNetMXNet_BAG_L1 ...
	Warning: Exception caused NeuralNetMXNet_BAG_L1 to fail during training (ImportError)... Skipping this model.
		Unable to import dependency mxnet. A quick tip is to install via `pip install mxnet --upgrade`, or `pip install mxnet_cu101 --upgrade`
Fitting model: LightGBMLarge_BAG_L1 ...
/usr/local/lib/python3.7/dist-packages/lightgbm/engine.py:239: UserWarning: 'verbose_eval' argument is deprecated and will be removed in a future release of LightGBM. Pass 'log_evaluation()' callback via 'callbacks' argument instead.
  _log_warning("'verbose_eval' argument is deprecated and will be removed in a future release of LightGBM. "
/usr/local/lib/python3.7/dist-packages/lightgbm/engine.py:239: UserWarning: 'verbose_eval' argument is deprecated and will be removed in a future release of LightGBM. Pass 'log_evaluation()' callback via 'callbacks' argument instead.
  _log_warning("'verbose_eval' argument is deprecated and will be removed in a future release of LightGBM. "
/usr/local/lib/python3.7/dist-packages/lightgbm/engine.py:239: UserWarning: 'verbose_eval' argument is deprecated and will be removed in a future release of LightGBM. Pass 'log_evaluation()' callback via 'callbacks' argument instead.
  _log_warning("'verbose_eval' argument is deprecated and will be removed in a future release of LightGBM. "
/usr/local/lib/python3.7/dist-packages/lightgbm/engine.py:239: UserWarning: 'verbose_eval' argument is deprecated and will be removed in a future release of LightGBM. Pass 'log_evaluation()' callback via 'callbacks' argument instead.
  _log_warning("'verbose_eval' argument is deprecated and will be removed in a future release of LightGBM. "
/usr/local/lib/python3.7/dist-packages/lightgbm/engine.py:239: UserWarning: 'verbose_eval' argument is deprecated and will be removed in a future release of LightGBM. Pass 'log_evaluation()' callback via 'callbacks' argument instead.
  _log_warning("'verbose_eval' argument is deprecated and will be removed in a future release of LightGBM. "
	0.7262	 = Validation score   (roc_auc)
	1.74s	 = Training   runtime
	0.03s	 = Validation runtime
Fitting model: WeightedEnsemble_L2 ...
	0.7775	 = Validation score   (roc_auc)
	1.53s	 = Training   runtime
	0.0s	 = Validation runtime
AutoGluon training complete, total runtime = 22.67s ...
TabularPredictor saved. To load, use: predictor = TabularPredictor.load("AutogluonModels/ag-20220104_150723/")

                      model  score_test  ...  can_infer  fit_order
0   RandomForestGini_BAG_L1    0.792735  ...       True          5
1           CatBoost_BAG_L1    0.790598  ...       True          7
2            XGBoost_BAG_L1    0.781746  ...       True         11
3   RandomForestEntr_BAG_L1    0.781593  ...       True          6
4           LightGBM_BAG_L1    0.780372  ...       True          4
5      LightGBMLarge_BAG_L1    0.772283  ...       True         12
6       WeightedEnsemble_L2    0.761600  ...       True         13
7         LightGBMXT_BAG_L1    0.752747  ...       True          3
8     ExtraTreesGini_BAG_L1    0.751221  ...       True          8
9     ExtraTreesEntr_BAG_L1    0.744658  ...       True          9
10   NeuralNetFastAI_BAG_L1    0.716728  ...       True         10
11    KNeighborsDist_BAG_L1    0.561355  ...       True          2
12    KNeighborsUnif_BAG_L1    0.559829  ...       True          1

[13 rows x 12 columns]

In [11]:
y_test = test_data[label_column]  # values to predict
test_data_nolab = test_data.drop(columns=[label_column])  # delete label column to prove we're not cheating
test_data_nolab.head()

     Gender Married  Dependents  ... Total_Income_log       EMI  Balanced Income
533    Male      No           1  ...         9.328123  0.544444     10705.555556
544  Female     Yes           0  ...         8.210668  0.283333      3396.666667
41     Male      No           0  ...         8.010692  0.130556      2882.444444
148  Female      No           0  ...         9.364434  0.625000     11041.000000
111  Female     Yes           0  ...         8.568266  0.386111      4875.888889

[5 rows x 12 columns]

In [12]:
print("AutoGluon infers problem type is: ", predictor.problem_type)
print("AutoGluon identified the following types of features:")
print(predictor.feature_metadata)

AutoGluon infers problem type is:  binary
AutoGluon identified the following types of features:
('category', [])  : 1 | ['Property_Area']
('float', [])     : 5 | ['LoanAmount_log', 'Total_Income', 'Total_Income_log', 'EMI', 'Balanced Income']
('int', [])       : 1 | ['Dependents']
('int', ['bool']) : 5 | ['Gender', 'Married', 'Education', 'Self_Employed', 'Credit_History']

In [13]:
pred_probs = predictor.predict_proba(test_data, model='RandomForestGini_BAG_L1')
pred_probs.head(5)

            0         1
533  0.203333  0.796667
544  0.023333  0.976667
41   0.243333  0.756667
148  0.420000  0.580000
111  0.020000  0.980000

In [14]:
y_pred = predictor.predict(test_data_nolab, model='RandomForestGini_BAG_L1' )
print("Predictions:  \n", y_pred)
perf = predictor.evaluate_predictions(y_true=y_test, y_pred=pred_probs, auxiliary_metrics=True )

Evaluation: roc_auc on test data: 0.7927350427350427
Evaluations on test data:
{
    "roc_auc": 0.7927350427350427,
    "accuracy": 0.7804878048780488,
    "balanced_accuracy": 0.695054945054945,
    "mcc": 0.4580740495071019,
    "f1": 0.8524590163934426,
    "precision": 0.7878787878787878,
    "recall": 0.9285714285714286
}

Predictions:
 533    1
544    1
41     1
148    1
111    1
      ..
341    1
404    1
247    1
464    0
493    1
Name: Loan_Status, Length: 123, dtype: int64

In [18]:
predictor.leaderboard(test_data, silent=True)

                      model  score_test  ...  can_infer  fit_order
0   RandomForestGini_BAG_L1    0.792735  ...       True          5
1           CatBoost_BAG_L1    0.790598  ...       True          7
2            XGBoost_BAG_L1    0.781746  ...       True         11
3   RandomForestEntr_BAG_L1    0.781593  ...       True          6
4           LightGBM_BAG_L1    0.780372  ...       True          4
5      LightGBMLarge_BAG_L1    0.772283  ...       True         12
6       WeightedEnsemble_L2    0.761600  ...       True         13
7         LightGBMXT_BAG_L1    0.752747  ...       True          3
8     ExtraTreesGini_BAG_L1    0.751221  ...       True          8
9     ExtraTreesEntr_BAG_L1    0.744658  ...       True          9
10   NeuralNetFastAI_BAG_L1    0.716728  ...       True         10
11    KNeighborsDist_BAG_L1    0.561355  ...       True          2
12    KNeighborsUnif_BAG_L1    0.559829  ...       True          1

[13 rows x 12 columns]

In [21]:
predictor.feature_importance(test_data, model='RandomForestGini_BAG_L1')

Computing feature importance via permutation shuffling for 12 features using 123 rows with 3 shuffle sets...
	5.24s	= Expected runtime (1.75s per shuffle set)
	0.92s	= Actual runtime (Completed 3 of 3 shuffle sets)

                  importance    stddev   p_value  n  p99_high   p99_low
Credit_History      0.283171  0.014282  0.000423  3  0.365008  0.201333
LoanAmount_log      0.028897  0.016113  0.044942  3  0.121226 -0.063431
Balanced Income     0.019689  0.014163  0.068865  3  0.100844 -0.061466
Total_Income        0.013075  0.016793  0.154947  3  0.109302 -0.083152
Married             0.010328  0.009279  0.096851  3  0.063499 -0.042843
Property_Area       0.008445  0.011050  0.158306  3  0.071761 -0.054870
Self_Employed       0.007580  0.002291  0.014563  3  0.020708 -0.005548
EMI                 0.007326  0.016689  0.263230  3  0.102953 -0.088301
Total_Income_log    0.004375  0.024077  0.391379  3  0.142340 -0.133590
Gender              0.000102  0.008760  0.492888  3  0.050298 -0.050095
Education          -0.001272  0.014058  0.555065  3  0.079284 -0.081828
Dependents         -0.009208  0.005497  0.949448  3  0.022292 -0.040709

In [28]:
testing_data = TabularDataset("https://github.com/DSstore/Loan/raw/main/feature_engineering_test.csv")
testing_data_pred = predictor.predict(testing_data, model='RandomForestGini_BAG_L1')
testing_data_pred

Loaded data from: https://github.com/DSstore/Loan/raw/main/feature_engineering_test.csv | Columns = 12 / 12 | Rows = 367 -> 367

0      1
1      1
2      1
3      1
4      1
      ..
362    1
363    1
364    1
365    1
366    1
Name: Loan_Status, Length: 367, dtype: int64

Inserting Testing file that is to give us the result shown in the powerpoint slide

In [30]:
testing_result = TabularDataset("https://github.com/DSstore/Loan/raw/main/testingresult.csv")
testing_result.head()

Loaded data from: https://github.com/DSstore/Loan/raw/main/testingresult.csv | Columns = 13 / 13 | Rows = 4 -> 4

  Gender Married  Dependents  ... Total_Income_log       EMI  Balanced Income
0   Male      No           0  ...         8.674026  0.355556      5493.444444
1   Male     Yes           1  ...         8.714568  0.355556      5735.444444
2   Male     Yes           0  ...         8.006368  0.183333      2816.666667
3   Male     Yes           3  ...         8.619750  0.438889      5101.111111

[4 rows x 13 columns]

In [31]:
testing_result = testing_result.drop(columns=['Loan_Status'])  # delete label column to prove we're not cheating
testing_result.head()

  Gender Married  Dependents  ... Total_Income_log       EMI  Balanced Income
0   Male      No           0  ...         8.674026  0.355556      5493.444444
1   Male     Yes           1  ...         8.714568  0.355556      5735.444444
2   Male     Yes           0  ...         8.006368  0.183333      2816.666667
3   Male     Yes           3  ...         8.619750  0.438889      5101.111111

[4 rows x 12 columns]

The Probability of Autogluon

In [32]:
pred_probs1 = predictor.predict_proba(testing_result, model='RandomForestGini_BAG_L1')
pred_probs1

          0         1
0  0.090000  0.910000
1  0.736667  0.263333
2  0.116667  0.883333
3  0.860000  0.140000

Results of the Autogluon

In [33]:
predictor.predict(testing_result, model='RandomForestGini_BAG_L1')

0    1
1    0
2    1
3    0
Name: Loan_Status, dtype: int64

Creating a record of credit history = 1, Dependents = 0 for powerpoint slide

In [37]:
testingresult = pd.DataFrame(columns=train_data.columns)
testingresult['Credit_History']=[1]
testingresult['Dependents']=[0]
testingresult

  Gender Married  Dependents  ... Total_Income_log  EMI  Balanced Income
0    NaN     NaN           0  ...              NaN  NaN              NaN

[1 rows x 13 columns]

In [35]:
pred_probs2 = predictor.predict_proba(testingresult,model='RandomForestGini_BAG_L1')
pred_probs2

          0         1
0  0.736667  0.263333

Creating a record of credit history = 0, Dependents = 0 for powerpoint slide

In [36]:
testingresult3 = pd.DataFrame(columns=train_data.columns)
testingresult3['Credit_History']=[0]
testingresult3['Dependents']=[0]
testingresult3

  Gender Married  Dependents  ... Total_Income_log  EMI  Balanced Income
0    NaN     NaN           0  ...              NaN  NaN              NaN

[1 rows x 13 columns]

In [ ]:
pred_probs2 = predictor.predict_proba(testingresult3,model='RandomForestGini_BAG_L1')
pred_probs2

          0         1
0  0.833333  0.166667

In [38]:
submission = pd.read_csv('https://github.com/DSstore/Loan/raw/main/sample_submission.csv')
submission

      Loan_ID Loan_Status
0    LP001015           N
1    LP001022           N
2    LP001031           N
3    LP001035           N
4    LP001051           N
..        ...         ...
362  LP002971           N
363  LP002975           N
364  LP002980           N
365  LP002986           N
366  LP002989           N

[367 rows x 2 columns]

In [39]:
test = pd.read_csv("https://github.com/DSstore/Loan/raw/main/test.csv")
submission['Loan_Status']=testing_data_pred
submission['Loan_ID']=test['Loan_ID']
submission['Loan_Status'].replace(0,'N', inplace=True)
submission['Loan_Status'].replace(1, 'Y', inplace=True)
pd.DataFrame(submission, columns=['Loan_ID','Loan_Status']).to_csv('autogluontestSubmission.csv')
submission

      Loan_ID Loan_Status
0    LP001015           Y
1    LP001022           Y
2    LP001031           Y
3    LP001035           Y
4    LP001051           Y
..        ...         ...
362  LP002971           Y
363  LP002975           Y
364  LP002980           Y
365  LP002986           Y
366  LP002989           Y

[367 rows x 2 columns]